/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$indigo-palette,
      tertiary: mat.$pink-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0
  ));
}
