/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$indigo-palette,
      tertiary: mat.$pink-palette,
      theme-type: light
    ),
    typography: Roboto,
    density: 0
  ));
}

.mat-mdc-tooltip .mdc-tooltip__surface {
  background-color: #1a237e !important;
  color: white !important;
  font-size: 12px !important;
}
